/*
*  @Author Corcimar Tudor
*  @version 1.0
*  @updated 18.12.2015
*  
*  Shioric.com for VIVA CARS S.R.L.
*/

@import url(https://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,400italic,700,700italic);

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: none;
    color: #555555;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

body{
    background: url('../img/back.png') repeat;
}
header{
    display: block;
    background: #ffffff;
    padding: 45px 15px 15px 15px;
    width: 100%;
}
h1.logo,
div.logo{
    margin: 0;
    padding: 0;
    line-height: normal;
    text-align: center;
}
h1.logo a,
div.logo a{
    color: #ae4b87;
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    font-weight: normal;
    font-size: 30px;
}
address{
    display: block;
}
.header-contacts{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 40px 0 25px 0;
}
.header-contacts > div{
    display: inline-block;
    border-right: 1px solid #cccccc;
    color: #aaaaaa;
    padding: 0;
    width: 200px;
    font-style: normal;
}
.header-contacts > div:last-child{
    border: 0;
}

.header-social{
    display: block;
    text-align: center;
    padding: 25px 0 25px 0;
}
.header-social a{
    display: inline-block;
    background: url('../img/social.png') 0 0 no-repeat;
    width: 39px;
    height: 39px;
    margin: 0 8px 0 8px;
}
.header-social a.facebook{
    background-position: 0 0;
}
.header-social a.facebook:hover{
    background-position: 0 -53px;
}
.header-social a.twitter{
    background-position: -55px 0;
}
.header-social a.twitter:hover{
    background-position: -55px -53px;
}
.header-social a.linkedin{
    background-position: -110px 0;
}
.header-social a.linkedin:hover{
    background-position: -110px -53px;
}

nav{
    display: block;
    width: 100%;
}
nav ul.heade-nav{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 48px;
    border-bottom: 4px solid #b7b7b7;
    background: #f3f3f3;
    text-align: center;
    letter-spacing: 0;
}
nav ul.heade-nav li{
    display: inline-block;
    list-style: none;
    width: 133px;
    height: 48px;
    position: relative;
    margin: 0 -2px 0 -2px;
    padding: 0;
}
nav ul.heade-nav li.home{
    border-bottom: 4px solid #ae4b87;
}
nav ul.heade-nav li.macchine{
    border-bottom: 4px solid #abcf59;
}
nav ul.heade-nav li.aboutus{
    border-bottom: 4px solid #d95e64;
}
nav ul.heade-nav li.contacts{
    border-bottom: 4px solid #58b54e;
}
nav ul.heade-nav li a{
    display: block;
    background: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 13px 0 0 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #aaaaaa;
    text-shadow: 0px 1px #ffffff;
}
nav ul.heade-nav li a.active{
    background: #ffffff;
}
nav ul.heade-nav li a:hover{
    color: #555555;
}

nav ul.heade-nav li.home a.active{
    color: #ae4b87;
}
nav ul.heade-nav li.macchine a.active{
    color: #abcf59;
}
nav ul.heade-nav li.aboutus a.active{
    color: #d95e64;
}
nav ul.heade-nav li.contacts a.active{
    color: #58b54e;
}
.shadow-line,
.shadow-line-b{
    width: 100%;
    height: 11px;
    background: url('../img/shadow-line.png') center top no-repeat;
    margin: 0 0 0 0;
}
.shadow-line-b{
    background: url('../img/shadow-line-b.png') center top no-repeat;
}
.content{
    display: block;
    padding: 0;
    margin: 0;
    width: 1100px;
    margin: 0 auto;
}
.general-banner{
    display: block;
    width: 100%;
    background: url('../img/banner-back.png') repeat;
    padding: 55px 0 15px 0;
    margin: -11px 0 55px 0;
    position: relative;
    height: 500px;
}
.general-banner .banner-post{
    display: block;
    width: 100%;
    height: 370px;
    overflow: hidden;
}
.general-banner .banner-post .title{
    display: block;
    width: 100%;
    font-size: 24px;
    color: #868686;
    text-shadow: 0px 1px #ffffff;
    text-align: center;
    padding: 15px 0 0 0;
    margin: 0;
}
.general-banner .post-description{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 35px 100px 0px 100px;
    font-weight: normal;
}
.general-banner .short-description{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 10px 0 15px 0;
}
.general-banner .short-description div{
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    color: #888888;
    border-right: 1px solid #aaaaaa;
    padding: 0 7px 0 7px;
    line-height: 12px;
}
.general-banner .short-description div:last-child{
    border: 0;
}
.general-banner .images{
    display: block;
    height: 170px;
    width: 100%;
    text-align: center;
    padding: 10px 0 0 0
}
.general-banner .images .image{
    display: inline-block;
    height: 140px;
    width: 170px;
    position: relative;
    overflow: hidden;
    border: 3px solid #ffffff;
    margin: 15px 10px 0 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.12);
}
.general-banner .images .image:hover{
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.12);
}
.general-banner .images .image img{
    min-width: 100%;
    min-height: 100%;
    max-height: 150%;
    margin: 0 auto;
}
.general-banner .arrow{
    display: block;
    background: url('../img/baner-arrows.png') left top no-repeat transparent;
    width: 38px;
    height: 58px;
    cursor: pointer;
    position: absolute;
    margin: -29px 0 0 0;
    z-index: 2;
    opacity: 0.4;
}
.general-banner .arrow:hover{
    opacity: 1;
}
.general-banner .arrow.left{
    left: 0;
    top: 50%;
    background-position: left top;
}
.general-banner .arrow.right{
    right: 0;
    top: 50%;
    background-position: right top;
}
.general-banner *{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transition-delay: 0.3s;
}

.general-banner .banner-post.hidden-post{
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
}

.board{
    display: block;
    width: 100%;
}
.board .post{
    float: left;
    margin-bottom: 35px;
}
.board article:nth-child(2n) .post{
    float: right;
}
.board .post{
    display: block;
    width: 520px;
}
.board .post .title{
    display: block;
    width: 100%;
    text-align: left;
}
.board .post .title a{
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #5189ad;
}
.board .post .short-description{
    display: block;
    color: #aaaaaa;
    font-size: 12px;
    padding: 5px 0 5px 0;
    width: 100%;
}
.board .post .info-block{
    display: block;
}
.board .post .info-block .image{
    display: block;
    height: 184px;
    width: 184px;
    border: 4px solid #e3e3e3;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
    overflow: hidden;
    margin-top: 2px;
    position: relative;
    float: left;
    cursor: pointer;
}
.board .post .info-block .image .image-block{
    display: block;
    width: 500px;
    height: 100%;
    position: absolute;
    left: -158px;
    text-align: center;
    background: #e3e3e3;
}
.board .post .info-block .image .image-block img{
    display: inline-block;
    height: 100%;
}
.board .post .info-block .description{
    display: block;
    width: 309px;
    height: 188px;
    background: url('../img/text-back.png') left top no-repeat transparent;
    float: left;
    margin-left: 15px;
    position: relative;
    padding: 18px 18px 32px 20px;
}
.board .post .info-block .description p{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 19px;
}
.board .post .info-block a.details{
    position: absolute;
    left: 18px;
    bottom: 15px;
    font-size: 12px;
}

.board .post .info-block ul{
    display: block;
    position: absolute;
    right: -21px;
    top: 45px;
    height: 150px;
}
.board .post .info-block ul li{
    display: block;
    position: relative;
    list-style: none;
    background-color: #ffffff;
    width: 23px;
    height: 23px;
    clear: both;
    padding: 0;
    margin: 0 0 4px 0;
}
.board .post .info-block ul li a{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('../img/icons/board-icons.png') right top no-repeat #d9d9d9;
}
.board .post .info-block ul li a.active,
.board .post .info-block ul li a.active:hover{
    -webkit-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.10);
    box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.10);
    background-color: #ffffff;
    z-index: 2;
}
.board .post .info-block ul li a:hover {
    background-color: #c7c7c7;
}
.board .post .info-block ul li a.info{
    background-position: -20px 7px;
}
.board .post .info-block ul li a.info.active{
    background-position: 5px 7px;
}
.board .post .info-block ul li a.mailus{
    background-position: -20px -19px;
}
.board .post .info-block ul li a.mailus.active{
    background-position: 5px -19px;
}
.board .post .info-block ul li a.facebook{
    background-position: -20px -43px;
}
.board .post .info-block ul li a.facebook.active{
    background-position: 5px -43px;
}
.board .post .info-block ul li a.twitter{
    background-position: -20px -68px;
}
.board .post .info-block ul li a.twitter.active{
    background-position: 5px -68px;
}
.board .post .info-block ul li a.linkedin{
    background-position: -20px -93px;
}
.board .post .info-block ul li a.linkedin.active{
    background-position: 5px -93px;
}

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="number"], 
input[type="password"], 
textarea {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 15px;
    border: 1px solid #cccccc;
    margin: 0 0 15px 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    background: #ffffff;
}
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="number"]:focus, 
input[type="password"]:focus, 
textarea:focus {
    outline: none;
}
textarea{
    height: 250px;
    max-width: 100%;
}
.captcha-field {
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 320px;
    padding-right: 170px;
    position: relative;
}
.captcha-field .refrashCaptcha {
    position: absolute;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/captcha-button.png) 0 0 no-repeat transparent;
    height: 35px;
    width: 26px;
    border: 0px;
    top: 9px;
    right: 160px;
    cursor: pointer;
    z-index: 1;
}
.captcha-field .image {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #eeeeee;
    height: auto;
    padding: 4px 0 0 0;
    background: #ffffff;
}

.btn {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border: 0px solid #000000;
}
.btn.focus, 
.btn:focus, 
.btn:hover,
.btn:active {
    color: #333;
    text-decoration: none;
    outline: none;
}
.btn.big {
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    font-weight: bold;
}
.btn.green {
    color: #ffffff;
    background: #58b54e;
}
form h3{
    font-size: 14px;
    color: #888888;
    font-weight: bold;
    font-style: italic;
    padding: 55px 0 0 0;
}
.footer {
    background: #ffffff;
    margin: 0;
    border-top: 1px solid #cccccc;
    background: #ffffff;
    position: relative;
}
footer .shadow-line-b{
    margin-top: 55px;
}
.footer .copy{
    text-align: center;
    height: 48px;
    background: #f3f3f3;
    font-size: 12px;
    font-weight: normal;
    color: #aaaaaa;
    padding: 14px 0 0 0;
}
.footer .header-social{
    padding-bottom: 0;
}
.footer .contacts{
    position: absolute;
    left: 0px;
    top: 30px;
}
.footer .contacts div{
    font-size: 14px;
    color: #848484;
    width: 200px;
}
.footer .menu{
    position: absolute;
    right: 0px;
    top: 15px;
}
.footer .menu a{
    font-size: 12px;
    display: inline-block;
    border-right: 1px solid #cccccc;
    color: #aaaaaa;
    padding: 0 7px 0 7px;
    line-height: 10px;
}
.footer .menu a:last-child{
    border: 0;
}



.center{
    margin: 0 auto;
}
a{
    color: #5189ad;
}
.clear {
    clear: both;
}
.p-relative{
    position: relative;
}
.grey{
    color: #cccccc;
}
.dark-grey{
    color: #aaaaaa;
}
.font14{
    font-size: 14px;
}
.font18{
    font-size: 18px;
}
.fontOpenSans{
    font-family: 'Open Sans', sans-serif;
}
.fontOpenSatisfy{
    font-family: 'Satisfy', cursive;
}
.italic{
    font-style: italic;
}
.width840{
    width: 840px;
}
.width520{
    width: 520px;
}
.padding25{
    padding: 25px;
}
p{
    color: #888888;
    font-size: 14px;
    padding: 0 0 25px 0;
}