<section>
    <div class="general-banner">
        <div class="content p-relative">
            
            
            <div id="post-1" class="banner-post">
                <h3 class="title">Discription Macchine WT23500<h3>
                <div class="short-description">
                    <div>2014</div>
                    <div>USED</div>
                    <div>27.000 EUR</div>
                </div>
                <div class="images">
                    <div class="image">
                        <img src="{{ asset('resources/frontend/img/test/img1.png') }}" />
                    </div>
                    <div class="image">
                        <img src="{{ asset('resources/frontend/img/test/img2.png') }}" />
                    </div>
                    <div class="image">
                        <img src="{{ asset('resources/frontend/img/test/img3.png') }}" />
                    </div>
                </div>
                <div class="post-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                    irure dolor in reprehenderit in voluptate velit esse cillum 
                    dolore eu fugiat nulla pariatur.
                </div>
            </div>
            
            
            <div id="post-2" class="banner-post hidden-post">
                <h3 class="title">Other Title Example 953476<h3>
                <div class="short-description">
                    <div>1234</div>
                    <div>USED</div>
                    <div>456.000 EUR</div>
                </div>
                <div class="images">
                    <div class="image">
                        <img src="{{ asset('resources/frontend/img/test/img3.png') }}" />
                    </div>
                    <div class="image">
                        <img src="{{ asset('resources/frontend/img/test/img2.png') }}" />
                    </div>
                </div>
                <div class="post-description">
                    Lquis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                    irure dolor in reprehenderit in voluptate velit esse cillum 
                    dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                    irure dolor in reprehenderit in voluptate velit esse cillum 
                    dolore eu fugiat nulla pariatur.
                </div>
            </div>
            
            
            <div class="arrow left"></div>
            <div class="arrow right"></div>
        </div>
        <div class="clear"></div>
    </div>
</section>