<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
        
        <title>{% block title %} {{ app.name }} {% endblock %}</title>

        <!--  CASCADING STYLE SHEETS  -->
        <link type="text/css" rel="stylesheet" href="{{ asset('resources/frontend/components/bootstrap-3.3.6-dist/css/bootstrap.min.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('resources/frontend/css/style.css') }}"/>

    </head>

    <body>
        <header>
            <h1 class="logo">
                <a href="http://{{ app.url }}">
                    Viva Cars <span class="grey font18 fontOpenSatisfy">S.r.l.</span>
                    <div class="fontOpenSans font14 grey italic">{{ app.url }}</div>
                </a>
            </h1>
            <address>
                <div class="header-contacts">
                    <div>Tel: {{ app.phone }}</div>
                    <div>Fax: {{ app.email }}</div>
                    <div>Skype: {{ app.skype }}</div>
                </div>
            </address>
            <div class="header-social">
                <a href="{{ app.social.facebook.url }}" class="facebook"></a>
                <a href="{{ app.social.twitter.url }}" class="twitter"></a>
                <a href="{{ app.social.linkedin.url }}" class="linkedin"></a>
            </div>
        </header>
        
        {% include "frontend.navigation.headernav" %}
        
        {% block content %}{% endblock %}
        
        {% block contactform %}{% endblock %}
        
        {% include "frontend.base.footer" %}
        
        <script type="text/javascript" src="{{ asset('resources/frontend/js/resources/jquery-2.1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('resources/frontend/components/bootstrap-3.3.6-dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('resources/frontend/js/scripts.js') }}"></script>
        {% block javascript %}{% endblock %}
        
    </body>
</html>