<footer>
    <div class="shadow-line-b"></div>
    <div class="footer">
        <div class="content padding25 p-relative">
            <div class="logo">
                <a href="http://{{ app.url }}">
                    Viva Cars <span class="grey font18 fontOpenSatisfy">S.r.l.</span>
                    <div class="fontOpenSans font14 grey italic">{{ app.url }}</div>
                </a>
            </div>
            <div class="header-social">
                <a href="{{ app.social.facebook.url }}" class="facebook"></a>
                <a href="{{ app.social.twitter.url }}" class="twitter"></a>
                <a href="{{ app.social.linkedin.url }}" class="linkedin"></a>
            </div>
            <div class="contacts">
                <div>{{ app.address }}</div>
                <br/>
                <div>Tel: {{ app.phone }}</div>
                <div>Fax: {{ app.email }}</div>
                <div>Skype: {{ app.skype }}</div>
            </div>
            <div class="menu">
                <a href="#" class="">Home</a>
                <a href="#" class="">Macchine</a>
                <a href="#" class="">Chi siamo</a>
                <a href="#" class="">Contatti</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="copy">
            © {{ "now"|date("Y") }}, {{ app.name }} All Rights Reserved.
        </div>
    </div>
</footer>