<div class="content">
    <form action="#" mehod="POST">
        <div class="width840 center text-center">
            <h3>Provide som introduction words about current company</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="form width520 center">
            
            <input type="hidden" name="_token" value="{{ csrf_token() }}" />
            <input type="hidden" 
                   name="type" 
                   value="{{ form.type ? form.type : 'Contact form.' }}">
            <input type="text" 
                   value="{{ form.name }}"
                   class="{{ validatorErrors.get('name') ? 'error' : not validatorErrors ? '' :  'success' }}"
                   name="name" 
                   placeholder="Nama ..." />
            <input type="text" 
                   value="{{ form.email }}"
                   class="{{ validatorErrors.get('email') ? 'error' : not validatorErrors ? '' : 'success' }}"
                   name="email" 
                   placeholder="Email ..." />
            <input type="text" 
                   value="{{ form.subject }}"
                   class="{{ validatorErrors.get('subject') ? 'error' : not validatorErrors ? '' :  'success' }}"
                   name="subject" 
                   placeholder="Soggetto ..." 
                   value="{{ macchine.name }}" />
            <textarea name="message" 
                      placeholder="Messaggio ..."
                      class="{{ validatorErrors.get('message') ? 'error' : not validatorErrors ? '' :  'success' }}"
                      >{{ form.message }}</textarea>
            <div class="captcha-field">
                <input type="text" 
                       name="captcha"
                       class="{{ validatorErrors.get('captcha') ? 'error' : not validatorErrors ? '' :  'success' }}"
                       placeholder="Captcha code ..." />
                <div class="refrash refrashCaptcha"
                        data-captha="{{url('/captcha')}}"
                        onClick="refrashCaptcha(this);"
                        type="button"></div>
                <div class="image">
                    <img class="captchaImage" src="{{url('/captcha')}}" />
                </div>
            </div>
            
            <input type="submit" name="submit" value="Inviare!" class="btn green big pull-right"/>
            
        </div>
    </form>
</div>