{% extends "frontend.base.base" %}

{% block content %}
    
    {% include "frontend.banners.generalbanner" %}
    
    <div class="content">
        <section>
            <div class="board">

                <article>
                    <div class="post">
                        <h2 class="title">
                            <a href="#">Taglio AL pasma 2000x2353432</a>
                        </h2>
                        <div class="short-description">
                            2014 | USED | 2000 EUR
                        </div>
                        <div class="info-block">
                            <div class="image">
                                <div class="image-block">
                                    <img src="{{ url('resources//macchine/1/img/1.jpg') }}">
                                </div>
                            </div>
                            <div class="description">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing 
                                    elit, sed do eiusmod tempor incididunt ut labore 
                                    et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud exercitation ullamco laboris nisi ut 
                                    aliquip ex ea commodo consequat. Duis aute irure 
                                    dolor in reprehenderit in voluptate velit esse 
                                    cillum dolore eu fugiat nulla pariatur. Excepteur 
                                    sint occaecat cupidatat non proident, sunt in 
                                    culpa qui officia deserunt mollit anim id est 
                                    laborum
                                </p>
                                <a href="#" class="details">Deails ...</a>
                                <ul>
                                    <li><a href="#" class="info active"></a></li>
                                    <li><a href="#" class="mailus"></a></li>
                                    <li><a href="#" class="facebook"></a></li>
                                    <li><a href="#" class="twitter"></a></li>
                                    <li><a href="#" class="linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <article>
                    <div class="post">
                        <h2 class="title">
                            <a href="#">Taglio AL pasma 2000x2353432</a>
                        </h2>
                        <div class="short-description">
                            2014 | USED | 2000 EUR
                        </div>
                        <div class="info-block">
                            <div class="image">
                                <div class="image-block">
                                    <img src="{{ url('resources//macchine/1/img/1.jpg') }}">
                                </div>
                            </div>
                            <div class="description">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing 
                                    elit, sed do eiusmod tempor incididunt ut labore 
                                    et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud exercitation ullamco laboris nisi ut 
                                    aliquip ex ea commodo consequat. Duis aute irure 
                                    dolor in reprehenderit in voluptate velit esse 
                                    cillum dolore eu fugiat nulla pariatur. Excepteur 
                                    sint occaecat cupidatat non proident, sunt in 
                                    culpa qui officia deserunt mollit anim id est 
                                    laborum
                                </p>
                                <a href="#" class="details">Deails ...</a>
                                <ul>
                                    <li><a href="#" class="info active"></a></li>
                                    <li><a href="#" class="mailus"></a></li>
                                    <li><a href="#" class="facebook"></a></li>
                                    <li><a href="#" class="twitter"></a></li>
                                    <li><a href="#" class="linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <article>
                    <div class="post">
                        <h2 class="title">
                            <a href="#">Taglio AL pasma 2000x2353432</a>
                        </h2>
                        <div class="short-description">
                            2014 | USED | 2000 EUR
                        </div>
                        <div class="info-block">
                            <div class="image">
                                <div class="image-block">
                                    <img src="{{ url('resources//macchine/1/img/1.jpg') }}">
                                </div>
                            </div>
                            <div class="description">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing 
                                    elit, sed do eiusmod tempor incididunt ut labore 
                                    et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud exercitation ullamco laboris nisi ut 
                                    aliquip ex ea commodo consequat. Duis aute irure 
                                    dolor in reprehenderit in voluptate velit esse 
                                    cillum dolore eu fugiat nulla pariatur. Excepteur 
                                    sint occaecat cupidatat non proident, sunt in 
                                    culpa qui officia deserunt mollit anim id est 
                                    laborum
                                </p>
                                <a href="#" class="details">Deails ...</a>
                                <ul>
                                    <li><a href="#" class="info active"></a></li>
                                    <li><a href="#" class="mailus"></a></li>
                                    <li><a href="#" class="facebook"></a></li>
                                    <li><a href="#" class="twitter"></a></li>
                                    <li><a href="#" class="linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>

                <article>
                    <div class="post">
                        <h2 class="title">
                            <a href="#">Taglio AL pasma 2000x2353432</a>
                        </h2>
                        <div class="short-description">
                            2014 | USED | 2000 EUR
                        </div>
                        <div class="info-block">
                            <div class="image">
                                <div class="image-block">
                                    <img src="{{ url('resources//macchine/1/img/1.jpg') }}">
                                </div>
                            </div>
                            <div class="description">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing 
                                    elit, sed do eiusmod tempor incididunt ut labore 
                                    et dolore magna aliqua. Ut enim ad minim veniam, 
                                    quis nostrud exercitation ullamco laboris nisi ut 
                                    aliquip ex ea commodo consequat. Duis aute irure 
                                    dolor in reprehenderit in voluptate velit esse 
                                    cillum dolore eu fugiat nulla pariatur. Excepteur 
                                    sint occaecat cupidatat non proident, sunt in 
                                    culpa qui officia deserunt mollit anim id est 
                                    laborum
                                </p>
                                <a href="#" class="details">Deails ...</a>
                                <ul>
                                    <li><a href="#" class="info active"></a></li>
                                    <li><a href="#" class="mailus"></a></li>
                                    <li><a href="#" class="facebook"></a></li>
                                    <li><a href="#" class="twitter"></a></li>
                                    <li><a href="#" class="linkedin"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                
                <div class="clear"></div>

            </div>
        </section>
    </div>
    
{% endblock %}

{% block contactform %}
    {% include "frontend.forms.contactform" %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('resources/frontend/js/components/banner.js') }}"></script>
{% endblock %}