<nav>
    <ul class="heade-nav">
        <li class="home">
            <a href="#" class="">Home</a>
        </li>
        <li class="macchine">
            <a href="#" class="active">Macchine</a>
        </li>
        <li class="aboutus">
            <a href="#" class="">Chi siamo</a>
        </li>
        <li class="contacts">
            <a href="#" class="">Contatti</a>
        </li>
    </ul>
    <div class="shadow-line"></div>
</nav>